root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{xaml,yml,yaml,json}]
indent_size = 2

[*.cs]
end_of_line = crlf
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion

[*.{xaml,csproj,sln,ps1}]
end_of_line = crlf
